# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.moved-aside
*.pbxuser
!default.pbxuser
*.perspectivev3
!default.perspectivev3

# macOS
.DS_Store

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods / Carthage (if ever added)
Pods/
Carthage/Build/
scripts/logo-preview.png
